*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
.individual {
    height: 100px;
    padding: 1rem;
    border-bottom:1px solid gray;
    background-color: white;
    border-radius: 25px;
    margin-bottom: .5rem;
    box-shadow: 0px 0px 10px .5px hsla(0, 20%, 80%, .5);
    height: 150px;
    width: 275px;
}
.images {
    width: 40%;
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px .5px hsla(0, 20%, 80%, .5);
    border-radius: 25px;

    padding: 10%;
}
.transactions-button {
    color: white;
    background-color: #565d67;
    border-radius: 35px;
    height: 100px;
    border: none;
    margin-top: 100px;
}
.iniciate-transaction-button {
    color: white;
    background-color: #565d67;
    border-radius: 35px;
    height: 100px;
    border: none;
    margin-top: 100px;
    margin-left: 93px;
}
.all-in-front {
    background-color: white;
    box-shadow: 0px 0px 10px .5px hsla(0, 20%, 80%, .5);
    border-radius: 25px;
    padding: 20px;
    width: 330px;
}
.logo {
    display: inline-block;
    width: 40%;
}
.h3 {
    margin-left: 95px;
    margin-right: auto;
}
.reference {
    margin-left: 97px;
    margin-right: auto;
}
.transfer-status {
    margin-left: 90px;
    margin-right: auto;
}
.select-beneficiary{
    margin-right: 110px;
    margin-bottom: 20px;
}
.contact-label {
    margin-right:3px ;
}
.currency {
    margin-top: -10px;
}
.balance {
    background-color: white;
    display: inline-block;
    border-radius: 25px;
    height: 130px;
    width: 40%;
    padding: 1rem;
}
.details {
    color: black;
    width: 20%;
    display: inline-block;
}
.amount {
    width: 20%;
    display: inline-block;
}
.ccode {
    width: 5%;
    display: inline-block;
}
.span-currency {
    color: black;
}
.button-back {
    color: white;
    background-color: #565d67;
    border-radius: 35px;
    height: 100px;
    border: none;
}
.title-transactions {
    color: black;
}
.here {
margin-bottom: 10px;
}
.h1 {
    color: black;
    width: 150px;
}
.card {
    perspective: 150rem;
    position: relative;
    height: 40rem;
    width: 50%;
    max-width: 400px;
    margin: 2rem;
    box-shadow: none;
    background: none;
    display: inline-block;
}

.card-side {
    height: 40rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:2rem;
    color: darkgray;
}
.card-side.back {
    transform: rotateY(-180deg);
    background-color: #f5f7fa;
    /*background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);*/
}
.card-side.front {
    background-color: #f5f7fa;
    /*background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);*/
}
.card.rotate .card-side.front {
    transform: rotateY(180deg);
}
.card.rotate .card-side.back {
    transform: rotateY(0deg);
}
#preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: rgba(255,255,255,.5);
}
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #565d67;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.modal-window.open {
    visibility: visible;
    opacity: 1;
}
.modal-window > div {
    border-radius: 15px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
}
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}
